body {
  padding:0 0 150px 315px;
  background-image:url('/images/drinking-straw.png');
  background-repeat:no-repeat;
  background-position:bottom left;
  background-attachment:scroll;
  color: #171717;
   font-size:100.1%;
  font-family: Palatino, Georgia, serif;
}
#header {
  padding-bottom:3em;
}
#header h1 {
  margin:0;
  padding:0;
  font-size:2em;
}
#header h1 a {
  text-decoration: none;
  background: none;
}
#header q {
  font-size:1em;
  font-style:italic;
}
#header cite, div.entry p.date {
  font-size:0.75em;
  color:dimgray;
}
#header cite:before, div.entry p.date:before {
  content:"(";
}
#header cite:after, div.entry p.date:after {
  content:")";
}
a {
  text-decoration: underline;
  color: #171717;
}
a:hover {
  text-decoration: none;
  background-image: url('/images/orthography.png');
  background-repeat:repeat-x;
  background-position: bottom;
}
div.entry {
  margin:2em 0 0 0;
  width:42em;
}
div.entry:after {
  content:"\2383";
  margin-left: 18em;
}
div.entry.single:after, div.entry:last-child:after {
  content:"";
}
div.entry h3, div.entry p.date {
  display:inline-block;
}
div.entry h3 {
  margin:0 0 0.5em 0;
  font-size: 1.25em;
}
div.entry h3 a {
  vertical-align: bottom;
  text-decoration: none;
}
div.text {
  line-height:150%;
}
div.text *:first-child {
  margin-top: 0;
}
a.previous, a.next {
  display: inline-block;
  color: #fff;
  background: none;
}
a.partner {
  width: 20em;
}
a.single {
  width: 40em;
}
a.previous {
  text-align: left;
}
a.previous:before {
  content:"\25CB\20D4\25CB";
  color: #171717;
  font-size: 1.3em;
}
a.previous:hover:before, a.next:hover:after {
  color: #696969;
}
a.next {
  text-align: right;
}
a.next:after {
  content:"\25CB\20D5\25CB";
  color: #171717;
  font-size: 1.3em;
}
